@*@model IEnumerable<pfe.Models.Student>*@
@model PaginatedList<pfe.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Cne)*@
                CNE
            </th>
            <th>
          @*      @Html.DisplayNameFor(model => model.Cin)*@
                CIN
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Nom)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> NOM </a>
</th>
            <th>
               @* @Html.DisplayNameFor(model => model.Email)*@
                EMAIL
            </th>
            <th>
         @*       @Html.DisplayNameFor(model => model.Prenom)*@
                PRENOM
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.DateNaissance)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> DATE NAISSANCE </a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Genre)*@
                GENRE
            </th>
            <th>
           @*     @Html.DisplayNameFor(model => model.Matricule)*@
                MATRICULE
            </th>
            <th>
          @*      @Html.DisplayNameFor(model => model.Telephone)*@
                TELEPHONE
            </th>
            <th>
             @*   @Html.DisplayNameFor(model => model.Promotion)*@
                PROMOTION
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.Stage)*@
                STAGE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>




@*@model IEnumerable<pfe.Models.Student>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cne)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateNaissance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matricule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Promotion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@

